# Default Tags 
project     = "aegis"
environment = "dev"
owner       = "your user or email"
managedby   = "terraform"

# Defaults
region    = "us-east-1"
partition = "aws"

# SG
quarantine_sg_name = "quarantine"

# SSM 
ssm_role_name             = "ssm-role"
ssm_instance_profile_name = "ssm-role-profile"

# SNS 
sns_emails                   = ["youremail@gmail.com"]
sns_alerts_high_topic_name   = "security-high"
sns_alerts_medium_topic_name = "security-medium"

# SQS 
dlq_name = "lambda-dlq"

# KMS Keys
main_username = "your_IAM_user"
kms_key_alias = "key"

# S3
central_bucket_name = "central-logs-12345"

# Cloudtrail
cloudtrail_name = "trail"

# Config 
config_name      = "config"
config_role_name = "config-role"

# Lambda
cloudtrail_tamper_function_name           = "cloudtrail-tamper"
cloudtrail_tamper_function_exec_role_name = "cloudtrail-tamper-exec-role"
ssh_remediation_function_name             = "ssh-remediation"
ssh_remediation_function_exec_role_name   = "ssh-remediation-exec-role"
crypto_quarantine_function_name           = "crypto-quarantine"
crypto_quarantine_function_exec_role_name = "crypto-quarantine-exec-role"
